body {
  background-color: #EDEDED;
}

#indexLoginButton {
  color: white;
  border-radius: 15px;
  display: inline-block;
  font-size: 30px;
}

#indexRegistrationButton {
  color: white;
  border-radius: 15px;
  display: inline-block;
  font-size: 30px;
  margin-left: 100px;
}

#nameOfUserLoggedIn {
  color: #4D4D4D;
  font-size: 20px;
  float: right;
  margin-bottom: 5px;
}

#registrationPage {
  color: #4D4D4D;
  font-size: 30px;
}


.registrationForm {
  margin-top: 40px;
}

#registrationName {
  color: #4D4D4D;
}

#registrationButton {
  border-radius: 15px;
}


#login {
  color: #4D4D4D;
  font-size: 30px;
  text-align: center;
}


#loginButton {
  border-radius: 15px;
}

#form {
  clear: both;
}

#logout {
  float: right;
  padding: 0px;
  display: inline-block;
  border-radius: 15px;
  width: 80px;
  height: 30px;
  color: white;
  clear: both;
}

.loginForm {
  margin-top: 40px;
}


#loginEmail {
  color: #4D4D4D;
}


#loginPassword {
  color: #4D4D4D;
}

#createTaskButton {
  border-radius: 15px;
  color: white;
}


#createNewTaskFromListButton {
  margin-top: 40px;
  border-radius: 15px;
  color: white;
}


label {
  color: #EDEDED;
}


h1 {
  color: #4D4D4D;
}

ul {
  margin-left: 30px;
  list-style-type: cjk-ideographic;
  color: #4D4D4D;
}


#show {
  list-style-type: hiragana;
}

#taskCounter {
  /*margin-left: 25px;*/
  color: #4D4D4D;
  font-size: 30px;
}

.title {
  font-style: arial;
  color: #4D4D4D;
  font: 30px bold;
  margin-top: -20px;
}


.notes {
  font-style: arial;
  margin: 25px;
  color: #4D4D4D;
}


#newTaskTitleAboveBox {
  color: #4D4D4D;
}


#newTaskNotesAboveBox {
  color: #4D4D4D;
}


#new_task_title {
  border-radius: 15px;
  display: inline-block;
  width: 70%;
  margin-right: 5%;
  margin-left: 2.75%;
}


#new_task_notes {
  border-radius: 15px;
  display: inline-block;
  width: 70%;
  margin-right: 5%;
}


#add_new_task {
  border-radius: 15px;
  width: 20%:;
  padding: 8px;

}

i.class.fa.fa-plus-square {
  margin-left: 3px;
}


.edit {
  padding: 5px;
  display: inline-block;
  background-color: salmon;
  border-radius: 15px;
}

i.class.fa.fa-pencil-square {
  color: white;
  margin-left: 3px;
}

#submitEdittedTask {
  border-radius: 15px;
}

.delete {
  padding: 5px;
  display: inline-block;
  background-color: red;
  border-radius: 15px;
}



.deleteForm {
  display: inline;
  margin-left: 30px;
}


.green {
  background-color: #f6f6f6;
  text-decoration: line-through;
}


/*// Small screens
@media only screen and (max-width: 40em) { 
  #newTaskToBeAdded {
   clear: both; 
  }
} 
 max-width 640px, mobile-only styles, use when QAing 
mobile issues 

// Medium screens
@media only screen and (min-width: 40.063em) { 
  #newTaskToBeAdded {
   clear: both; 
  }
}*/