body {
  background-color: black;
}

#indexLoginButton {
  color: white;
  border-radius: 15px;
  display: inline-block;
  font-size: 30px;
}

#indexRegistrationButton {
  color: white;
  border-radius: 15px;
  display: inline-block;
  font-size: 30px;
  margin-left: 100px;
}

#registrationPage {
  color: white;
  font-size: 30px;
}

.registrationForm {
  margin-top: 40px;
}

#registrationName {
  color: white;
}

#registrationButton {
  border-radius: 15px;
}


#login {
  color: white;
  font-size: 30px;
}


#loginButton {
  border-radius: 15px;
}


#logout {
  float: right;
  padding: 0px;
  display: inline-block;
  border-radius: 15px;
  margin-top: -59px;
  width: 80px;
  height: 30px;
  color: white;
}

.loginForm {
  margin-top: 40px;
}


#loginEmail {
  color: white;
}


#loginPassword {
  color: white;
}

#createTaskButton {
  border-radius: 15px;
}

#createNewTaskFromListButton {
  margin-top: 40px;
  border-radius: 15px;
  color: white;
}


label {
  color: white;
}


h1 {
  color: white;
}

ul {
  margin-left: 30px;
  list-style-type: cjk-ideographic;
  color: white;
}


#show {
  list-style-type: hiragana;
}

#taskCounter {
  /*margin-left: 25px;*/
  color: white;
  font-size: 30px;
}

#title {
  font-style: arial;
  color: white;
  font: 30px bold;
  margin-top: -20px;
}


#notes {
  font-style: arial;
  margin: 25px;
}


#edit {
  padding: 5px;
  display: inline-block;
  background-color: salmon;
  border-radius: 15px;
}

#submitEdittedTask {
  border-radius: 15px;
}

#delete {
  padding: 5px;
  display: inline-block;
  background-color: red;
  border-radius: 15px;
}


#deleteForm {
  display: inline;
  margin-left: 30px;
}


.green {
  background-color: #f6f6f6;
  text-decoration: line-through;
}


// Small screens
@media only screen and (max-width: 40em) { } 
/* max-width 640px, mobile-only styles, use when QAing 
mobile issues */

