#checkbox {
 
}


#title {
  font: 20px bold;
  margin: 6px;
}


#notes {
  margin: 25px;
}


#edit {
  display: inline-block;
  background-color: salmon;
}

#delete {
  display: inline-block;
  background-color: red;
}


#deleteForm {
  display: inline;
  margin-left: 30px;
}
