doctype html
html(lang="en")
  head
    title= tooDoo_express
    script(type='text/javascript')
  body
    h1 tooDoo_express
    block content  
      //- the block content from list.jade, edit.jade and new.jade will render
      //- here

    