doctype html
html(lang="en")
  head
    title= tooDoo_express
    

    link(href="/stylesheets/styles.css", type="text/css", rel="stylesheet")
  body
    h1 TooDoo List
    block content  
      //- the block content from list.jade, edit.jade and new.jade will render
      //- here

    