extends ../layout

block content
  div.small-12.medium-6.large-centered.columns
    div#login Please Log In Using Your Email and Password
      p.errors= errors
      form.loginForm.id(action="/users/login", method="POST", enctype="application/x-www-form-urlencoded")
        p 
          label#loginEmail(for="email_input") Email
          input.email_input(name="userEmail", type="text")
        p 
          label#loginPassword(for="password_input") Password
          input.password_input(name="userPassword", type="text") 
          //- type="password" for dots to show instead of text
        button#loginButton(type="submit") Login