extends ../layout

block content
  h1 testing list path
  ul
    each task in tasksCollection
      li
        a(href="/tasks/#{task._id}")
          span.title=task.title
        br
        span.notes=task.notes
