extends ../layout

block content
  div Please Log In Using Your Email and Password
    form.loginForm.id(action="/users/", method="POST", enctype="application/x-www-form-urlencoded")
      p 
        label(for="email_input") Email
        input.email_input(name="userEmail", type="text")
      p 
        label(for="password_input") Password
        input.password_input(name="userPassword", type="text")
      button#loginButton(type="submit") Login