extends ../layout

block content
  div#registrationPage Please Register By Completing All Fields Below
    form.registrationForm.id(action="/users/", method="POST", enctype="application/x-www-form-urlencoded")
      p
        label#registrationName(for="name_input") Name
        input.name_input(name="userName", type="text")
      p
        label#registrationEmail(for="email_input") Email
        input.email_input(name="userEmail", type="text")
      p
        label#registrationPassword(for="password_input") Password
        input.password_input(name="userPassword", type="text")
  button#registrationButton(type="submit") Register
